<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h2>MEMBROS</h2>
        </mat-card-title>
        <mat-card-subtitle>
            <h5>CADASTRAR</h5>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-horizontal-stepper [linear]="true" #stepper>
            <mat-step [stepControl]="identificacaoFormGroup">
                <form [formGroup]="identificacaoFormGroup">
                    <ng-template matStepLabel>Identificação</ng-template>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <div fxFlex="50">
                            <mat-form-field fxFlex>
                                <input matInput placeholder="CPF" formControlName="cpf" mascara="999.999.999-99">
                                <mat-error *ngIf="identificacaoFormGroup.get('cpf').errors?.required">
                                    Campo obrigatório
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <div fxFlex="50">
                            <mat-form-field fxFlex>
                                <input matInput placeholder="Nome Completo" formControlName="nome" maxlength="150">
                                <mat-error *ngIf="identificacaoFormGroup.get('nome').errors?.required">
                                    Campo obrigatório
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <div fxFlex="50">
                            <mat-form-field>
                                <input matInput [matDatepicker]="dataNascimento" placeholder="Data de Nascimento" 
                                    formControlName="dataNascimento">
                                <mat-datepicker-toggle matSuffix [for]="dataNascimento"></mat-datepicker-toggle>
                                <mat-datepicker #dataNascimento></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <div fxFlex="50">
                            <mat-radio-group formControlName="sexo">
                                <mat-radio-button *ngFor="let sexo of listaSexo;" value="{{sexo.id}}">{{sexo.descricao}}</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <div fxFlex="30">
                            <mat-form-field fxFlex="90">
                                <input matInput placeholder="Carteira de Identidade" formControlName="rg" maxlength="15">
                            </mat-form-field>
                        </div>
                        <div fxFlex="10">
                            <mat-form-field fxFlex>
                                <input matInput placeholder="Órgão Emissor" formControlName="orgaoEmissor" maxlength="10">
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <div fxFlex="30">
                            <mat-form-field fxFlex="90">
                                <input matInput placeholder="Naturalidade" formControlName="naturalidade" maxlength="150">
                            </mat-form-field>
                        </div>
                        <div fxFlex="10">
                            <mat-form-field fxFlex>
                                <mat-select placeholder="Estado" formControlName="ufNaturalidade">
                                    <mat-option *ngFor="let estado of listaEstados" value="{{estado.sigla}}" >{{estado.sigla}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <div fxFlex="50">
                            <mat-form-field fxFlex>
                                <mat-select placeholder="Escolaridade" formControlName="escolaridade">
                                    <mat-option *ngFor="let escolaridade of listaEscolaridades" value="{{escolaridade.id}}">{{escolaridade.descricao}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <div fxFlex="50">
                            <mat-form-field fxFlex>
                                <mat-select placeholder="Profissão" formControlName="profissao">
                                    <mat-option *ngFor="let profissao of listaProfissoes" value="{{profissao.id}}">{{profissao.nome}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <div fxFlex="50">
                            <mat-form-field fxFlex>
                                <mat-select placeholder="Estado Civil" formControlName="estadoCivil">
                                    <mat-option *ngFor="let estado of listaEstadosCivis" value="{{estado.id}}">{{estado.descricao}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <div fxFlex="50">
                            <mat-radio-group formControlName="alocacao">
                                <mat-radio-button *ngFor="let alocacao of listaAlocacao" value="{{alocacao.id}}">{{alocacao.descricao}}</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <div fxFlex="50">
                            <mat-form-field fxFlex>
                                <textarea matInput #informacoesAdicionais placeholder="Informações Adicionais" formControlName="informacaoAdicional" maxlength="500"></textarea>
                                <mat-hint align="end">{{informacoesAdicionais.value?.length || 0}}/500</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <button mat-button matStepperNext>Próximo</button>
                        <button mat-button (click)="salvar()" matTooltip="Salvar e preencher os outros dados posteriormente" type="submit" aria-label="Salvar e preencher os outros dados posteriormente">Salvar</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="informacoesResidenciaisFormGroup">
                <form [formGroup]="informacoesResidenciaisFormGroup">
                    <ng-template matStepLabel>Informações Residenciais</ng-template>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <div fxFlex="50">
                            <mat-form-field fxFlex>
                                <input matInput placeholder="CEP" formControlName="cep" (blur)="consultaCEP()" mascara="99.999-999">
                                <mat-error *ngIf="informacoesResidenciaisFormGroup.get('cep').errors?.required">
                                    Campo obrigatório
                                </mat-error>
                            </mat-form-field>
                            
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <div fxFlex="50">
                            <mat-form-field fxFlex>
                                <input matInput placeholder="Endereço" formControlName="rua" maxlength="150">
                                <mat-error *ngIf="informacoesResidenciaisFormGroup.get('rua').errors?.required">
                                    Campo obrigatório
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <div fxFlex="50">
                            <mat-form-field fxFlex>
                                <input matInput placeholder="Número" formControlName="numero" maxlength="15">
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <div fxFlex="50">
                            <mat-form-field fxFlex>
                                <input matInput placeholder="Complemento" formControlName="complemento" maxlength="150">
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <div fxFlex="50">
                            <mat-form-field fxFlex>
                                <input matInput placeholder="Bairro" formControlName="bairro" maxlength="150">
                                <mat-error *ngIf="informacoesResidenciaisFormGroup.get('bairro').errors?.required">
                                    Campo obrigatório
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <div fxFlex="50">
                            <mat-form-field fxFlex>
                                <input matInput placeholder="Cidade" formControlName="cidade" maxlength="150">
                                <mat-error *ngIf="informacoesResidenciaisFormGroup.get('cidade').errors?.required">
                                    Campo obrigatório
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <div fxFlex="50">
                            <mat-form-field fxFlex>
                                <mat-select placeholder="Estado" formControlName="uf">
                                    <mat-option *ngFor="let estado of listaEstados" value="{{estado.sigla}}">{{estado.sigla}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="informacoesResidenciaisFormGroup.get('uf').errors?.required">
                                    Campo obrigatório
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <div fxFlex="50">
                            <mat-form-field fxFlex>
                                <input matInput placeholder="Ponto de Referência" formControlname="pontoReferencia" maxlength="150">
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayoutAlign="space-between center">
                        <button mat-button matStepperPrevious>Anterior</button>
                        <button mat-button matStepperNext>Avançar</button>
                        <button mat-button matStepperNext (click)="salvar()" matTooltip="Salvar e preencher os outros dados posteriormente" type="submit" aria-label="Salvar e preencher os outros dados posteriormente">Salvar</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="formasDeContatoFormGroup">
                <form [formGroup]="emailFormGroup">
                    <ng-template matStepLabel>Formas de Contato</ng-template>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <div fxFlex="30">
                            <mat-form-field fxFlex>
                                <input matInput placeholder="E-Mail" formControlName="email" type="email">
                            </mat-form-field>
                        </div>
                    </div>
                </form>
                <form [formGroup]="telefonesFormGroup">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <div fxFlex="20">
                            <mat-form-field fxFlex="90">
                                <mat-select placeholder="Tipo de Telefone" formControlName="tipoTelefone">
                                    <mat-option *ngFor="let tipoTelefone of listaTiposTelefone" value="{{tipoTelefone.id}}">{{tipoTelefone.descricao}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxFlex="10">
                            <mat-form-field fxFlex="90">
                                <input matInput placeholder="DDD" formControlName="ddd" mascara="99">
                            </mat-form-field>
                        </div>
                        <div fxFlex="30">
                            <mat-form-field fxFlex="90">
                                <input matInput placeholder="Número" formControlName="numero" mascara="9?9999-9999">
                            </mat-form-field>
                        </div>
                        <div fxFlex="30">
                            <button mat-mini-fab aria-label="Adicionar telefone e informar outro número" matTooltip="Adicionar telefone e informar outro número" (click)="adicionarTelefone()">
                            <mat-icon aria-label="Adicionar telefone e informar outro número">add</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <div fxFlex="40">
                            <table class="tabelaTelefones">
                                <thead>
                                    <th>DDD</th>
                                    <th>Número</th>
                                    <th>Tipo</th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let telefone of listaTelefones">
                                        <td>{{telefone.ddd}}</td>
                                        <td>{{telefone.numero}}</td>
                                        <td>{{telefone.tipoTelefone.descricao}}</td>
                                        <td>
                                            <button mat-icon-button [matMenuTriggerFor]="menu">
                                                <mat-icon>more_vert</mat-icon>
                                            </button>
                                            <mat-menu #menu="matMenu">
                                                <button mat-menu-item (click)="editarTelefone(telefone)">
                                                    <mat-icon>edit</mat-icon>
                                                    <span>Alterar</span>
                                                </button>
                                                <button mat-menu-item (click)="excluirTelefone(telefone)">
                                                    <mat-icon>delete_forever</mat-icon>
                                                    <span>Remover</span>
                                                </button>
                                            </mat-menu>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div>
                        <button mat-button matStepperPrevious>Anterior</button>
                        <button mat-button matStepperNext (click)="salvar()" type="submit" aria-label="Concluir o cadastro">Concluir</button>
                    </div>
                </form>
            </mat-step>
        </mat-horizontal-stepper>
    </mat-card-content>
</mat-card>