<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <mat-toolbar-row>
      <!--<button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>-->
      <h1 class="example-app-name">Ekklesia</h1>
      <span class="example-spacer"></span>
      <mat-icon>person_outline</mat-icon>
      <span>&nbsp;Ivan Dias</span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>input</mat-icon>
          <span>Sair</span>
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <!--<mat-sidenav class="menu-lateral" #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">-->
    <mat-sidenav class="menu-lateral" #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="false" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink=".">
          <mat-icon mat-list-icon>view_list</mat-icon>
          Cadastros
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="conteudo">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>